<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ancestries: </h1>
    <ul class="ancestries">
    <% for(let i=0; i < ancestry.length; i++) {%>
        <li class="item">
                <span><%= ancestry[i].name %></span>
        </li>
    <% } %>
    </ul>
    <h1>Backgrounds: </h1>
    <ul class="backgrounds">
    <% for(let i=0; i < background.length; i++) {%>
        <li class="item">
                <span><%= background[i].name %></span>
        </li>
    <% } %>
    </ul>
    <h1>Classes: </h1>
    <ul class="classes">
    <% for(let i=0; i < classes.length; i++) {%>
        <li class="item">
                <span><%= classes[i].name %></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
